@font-face {
  font-family: poppins;
  src: url(fonts/Poppins-ThinItalic.ttf);
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

html {
  font-size: 16px;
}

#container {
  position: absolute;
  display: block;
  background-image: radial-gradient(
    circle at right,
    rgba(170, 217, 217, 1) 3%,
    rgba(3, 1, 72, 1) 30%
  );
  /* چرا این رنگ ابی کم رنگی که اضافه کردم وقتی سمت راست میزارمش تو جای خودش فیکس نیست وقتی هایت رو عوض میکنم. */
  /* background-attachment:fixed; */
  background-attachment: local;
  width: 100%;
  min-height: 100%;
  left: 0;
  top: 0;
}

nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: end;
  place-items: center;
  flex-wrap: nowrap;
  /* text-align: center; */
  font-family: poppins;
  background-color: rgba(3, 1, 72, 1);
  box-shadow: 0 0 5px blue;
  gap: 22rem;
  z-index: 2;
}

nav #a-tags {
  display: flex;
  flex-direction: row-reverse;
}

nav #a-tags > a {
  flex-grow: 1;
  flex-shrink: 0;
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  padding: 2rem;
}

nav #a-tags > a:hover {
  color: rgba(170, 217, 217, 1);
  transition: 400ms;
}

nav #logo {
  display: flex;
  text-transform: uppercase;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}

nav #logo pre::selection {
  background-color: transparent;
  cursor: none;
}

header #hero {
  position: relative;
  padding: 5rem;
  display: flex;
  place-items: center;
  justify-content: end;
  flex-direction: row-reverse;
}

header #hero img {
  filter: drop-shadow(0 0 15px black);
  margin-right: 3rem;
  background-size: cover;
}
header #hero #discription {
  /* background-color: blue; */
  /* width: 100%; */
  display: flex;
  /* flex-basis: 1000px; */
  flex-direction: column;
  font-family: poppins;
  text-align: center;
  margin-right: 11rem;
  align-items: center;
}
header #hero #discription h1 {
  color: white;
  font-size: 1.7rem;
  font-weight: 900;
}
header #hero #discription p {
  color: rgb(196, 176, 176);
  font-weight: bold;
  font-size: 1.2rem;
}
header #hero #discription a button {
  font-size: 1.5em;
  padding: 0.5em 2em 0.5em 2em;
  border-radius: 10px;
  border: none;
  background-color: purple;
  color: white;
  cursor: pointer;
  box-shadow: 0 0 10px black;
}

header #hero #discription a button:hover {
  background-color: rgb(33, 63, 53);
  outline: 3px solid aquamarine;
  transition: ease-in-out;
}

header #hero #discription a button:focus {
  outline-offset: 5px;
  transition: 250ms;
}

header #hero #discription a button:disabled {
  background-color: grey;
  outline: none;
}

#container main {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 400px;
}

#container main .services {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 90%;
  min-height: 400px;
  /* background-color: red; */
  gap: 3.2rem;
  padding: 2rem;
}

#container main .services > * {
  position: relative;
  display: flex;
  cursor: pointer;
  flex: 1 1 20%;
  /* flex-basis: 100%; */
  /* flex: 1; */
  min-height: 300px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  border-radius: 15px;
  background-color: rgb(5, 26, 73);
  box-shadow: 0 0 30px black;
  gap: 4rem;
}

#container main .services > *:nth-child(4) {
  flex: 0 1 20%;
}

#container main .services div span {
  color: white;
  font-size: 1.2rem;
  font-family: poppins;
  font-weight: 900;
  z-index: 1;
}

#container main .services div i {
  color: rgb(133, 255, 214);
  font-size: 3rem;
  z-index: 1;
}

#container main .services div #icones {
  z-index: 1;
}

#container main .title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: max-content;
  background-color: rgb(55, 77, 136);
  box-shadow: 0 0 5px blue;
}

#container main .title h1 {
  color: white;
  text-transform: uppercase;
}

#container main .services > div::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  top: -20%;
  right: -20%;
  background-color: red;
}

#container main .services > div:hover::after {
  transform: scale(30);
  transition: ease-out 1500ms;
}

#container main .services > div:nth-child(1)::after {
  background-color: purple;
}

#container main .services > div:nth-child(2)::after {
  background-color: rgb(17, 77, 17);
}

#container main .services > div:nth-child(3)::after {
  background-color: blue;
}

#container main .services > div:nth-child(4)::after {
  background-color: goldenrod;
}

#container main #contact-me {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  place-items: center;
  width: 100%;
  /* gap: 3rem; */
  height: max-content;
  /* background-color: pink; */
}

#container main #contact-me .title-1 {
  text-align: center;
  padding: 1rem;
  width: 100%;
  background-color: rgb(55, 77, 136);
  box-shadow: 0 0 5px blue;
  font-size: 2rem;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

#container main #contact-me .list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 2rem;
}

#container main #contact-me .list > a {
  font-size: 3rem;
  color: aqua;
}

#container footer {
  position: relative;
  background-color: rgb(55, 77, 136);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  box-shadow: 0 0 5px blue;
}

#container footer .title-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-column: span 2;
  text-align: center;
  color: white;
  font-family: poppins;
  /* background-color: blue; */
}

#container footer .title-2 .social-media {
  display: flex;
  gap: 1rem;
  width: max-content;
  justify-content: center;
  align-items: center;
}

#container footer .title-2 .social-media button > a {
  font-size: 2rem;
  color: rgb(92, 197, 197);
}

#container footer .title-2 .social-media button {
  position: relative;
  border-radius: 50%;
  padding: 1rem;
  border: none;
  cursor: pointer;
  overflow: hidden;
  background-color: rgb(33, 33, 71);
  box-shadow: 0 10px 10px rgb(58, 54, 54);
}
#container footer .title-2 .social-media button:hover {
  transition: ease-in-out 400ms;
  background-color: goldenrod;
}

#container footer .title-2 .social-media button:disabled {
  background-color: grey;
  border: none;
  outline: none;
}

#container footer .title-2 p {
  font-size: 1.2rem;
}

#container footer .title-2 > h1 {
  text-transform: capitalize;
  text-shadow: 0 0 10px rgb(49, 47, 47);
}

#container footer .form {
  /* background-color: blue; */
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  font-size: 1.5rem;
  margin-top: 2rem;
  font-family: poppins;
  font-weight: 500;
}

#container footer .form > span {
  text-decoration: none;
  text-transform: capitalize;
  font-weight: bold;
  color: white;
}

#container footer .form ul li a {
  text-transform: capitalize;
  text-decoration: none;
  color: white;
}

#container footer .form ul li:hover {
  color: aqua;
}
#container footer .form ul li:hover {
  text-decoration: underline;
}

#container footer .copy-right-text {
  color: rgb(26, 26, 37);
  text-align: center;
  padding: 2rem;
  font-size: 1.4rem;
  font-weight: bold;

  /* background-color: red; */
  width: 100%;
  grid-column: span 3;
}

@media screen and (max-width: 576px) {
  nav {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 0;
  }
  nav #a-tags {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  nav #logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
  }
  nav #a-tags > a {
    padding: 1rem;
  }
  nav #a-tags > a:hover {
    border-bottom: 3px solid white;
  }

  header #hero {
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
  }
  header #hero img {
    filter: drop-shadow(0 0 15px black);
    margin-right: 0;
    width: 100%;
    object-fit: cover;
  }
  header #hero #discription {
    width: 100%;
    /* background-color: red; */
    display: flex;
    text-align: center;
    margin-right: 0;
  }

  header #hero #discription h1 {
    color: white;
    font-size: 1.7rem;
    font-weight: 900;
  }
  header #hero #discription p {
    color: rgb(196, 176, 176);
    font-weight: bold;
    font-size: 1.2rem;
  }
  header #hero #discription a button {
    font-size: 1.5em;
    padding: 0.5em 2em 0.5em 2em;
    border-radius: 10px;
    border: none;
    background-color: purple;
    color: white;
    cursor: pointer;
    box-shadow: 0 0 10px black;
  }

  #container main .services {
    /* background-color: red; */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 2rem;
    gap: 3.2rem;
  }

  #container main .services > div {
    position: relative;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    text-align: center;
  }

  #container footer {
    position: relative;
    background-color: rgb(55, 77, 136);
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
    box-shadow: 0 0 5px blue;
    /* background-color: red; */
  }

  #container footer .title-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-column: span 3;
    grid-row-start: 2;
    text-align: center;
    color: white;
    font-family: poppins;
    /* background-color: blue; */
  }

  #container footer .form {
    /* background-color: blue; */
    position: relative;
    display: flex;
    justify-content: center;
    grid-column: span 3;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    font-size: 1.5rem;
    margin-top: 2rem;
    font-family: poppins;
    font-weight: 500;
  }
}
